img {
  max-width: 100%;
}

.card-collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.standout {
  box-shadow: rgb(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}
.show {
  display: block;
}
.hide {
  display: none;
}

@media (max-width: 600px) {
  .card-collection {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .body_wrapper .col-8 {
    width: 100%;
  }

  .body_wrapper .col-6 {
    width: 100%;
  }

  .body_wrapper .card.m-2 {
    margin: 0 0 1rem !important;
  }
}
